@font-face {
  font-family: "GothamRoundedBook";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/GothamRoundedBook_21018.ttf");
}

@font-face {
  font-family: "Opensans";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/open-sans_[allfont.ru].ttf");
}

@font-face {
  font-family: "Opensans";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/open-sans-light_[allfont.ru].ttf");
}

@font-face {
  font-family: "Opensans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf");
}
