@font-face {
  font-family: "GothamRoundedBook";
  src: url("../fonts/GothamRoundedBook_21018.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Opensans";
  src: url("../fonts/open-sans_[allfont.ru].ttf");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Opensans";
  src: url("../fonts/open-sans-light_[allfont.ru].ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Opensans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 300;
  font-style: normal; }

html,
body {
  min-width: 320px; }

body {
  font-family: "Opensans", "Arial", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.mob-header {
  color: #fff;
  background: url("../img/background-1@1x.jpg") no-repeat; }

@media (min-width: 700px) {
  .mob-header {
    background: url("../img/background-1@2x.jpg") no-repeat; } }

.mob-header-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  background-color: rgba(0, 0, 0, 0.3); }

.mob-header-top__logo {
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "GothamRoundedBook", "Arial", sans-serif; }

.mob-header-top__menu {
  cursor: pointer; }

.mob-header-top__burger-menu:hover path {
  fill: #d22856; }

.mob-header-top__burger-menu:active path {
  fill: #5e354e; }

.mob-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.mob-menu--js {
  display: block; }

.mob-menu__list {
  margin: 0;
  padding: 0; }

.mob-menu__list li {
  text-align: center;
  list-style: none;
  background-color: #283645;
  border-top: 1px solid #485360;
  border-bottom: 1px solid #000; }

.mob-menu__list li:first-child {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  text-align: initial;
  border-top: none;
  cursor: pointer; }

.mob-menu__list li .mob-header-top__close:hover path {
  fill: #d22856; }

.mob-menu__list li .mob-header-top__close:active path {
  fill: #5e354e; }

.mob-menu__list a {
  display: block;
  padding: 20px 24px;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  text-transform: lowercase; }

.mob-menu__list a:hover {
  color: #d22856; }

.mob-menu__list a:active {
  color: #5e354e; }

.promo-block__header {
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px; }

.promo-block__img {
  display: block; }

.download-block {
  padding: 28px 20px;
  color: #fff;
  text-align: center;
  background-color: #1d2631; }

.download-block__download-btn {
  margin-bottom: 37px;
  padding: 15px 37px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #fff;
  border-radius: 27px;
  background-color: #1d2631;
  cursor: pointer; }

.download-block__download-btn:hover {
  color: #d22856;
  background-color: #fff; }

.download-block__download-btn:active {
  color: #f2ced5;
  background-color: #fff; }

.download-block__download-btn:focus {
  outline: none; }

.download-block__logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 26px;
  padding: 0 30px; }

.download-block__logos__item path {
  fill: #fff; }

.download-block__text {
  margin: 0; }

.features {
  text-align: center; }

.features__header {
  position: relative;
  display: block;
  padding: 42px 20px;
  padding-bottom: 66px;
  margin: 0;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px; }

.features__header span {
  display: inline-block;
  margin-bottom: 37px; }

.features__header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  box-sizing: border-box;
  border-top: 8vw solid transparent;
  border-right: 100vw solid #f2f2f2; }

.features__list {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  background-color: #f2f2f2; }

.features__item:first-child {
  padding-top: 56px; }

.features__title {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 32px; }

.features__text {
  margin: 0;
  margin-bottom: 36px; }
