// color

$mob-header-bg: rgba(0, 0, 0, 0.3);
$dwnld-block-bg: #1d2631;
$features-bg: #f2f2f2;
$mob-menu-clr: #000;
$mob-menu-shdw: #485360;

// color-hover

$hover-clr: #d22856;
$active-clr: #5e354e;
$active-btn-clr: #f2ced5;

// font-color

$main-fc: #283645;
$header-color: #fff;

// font-size

$fs-base: 14px;
$lh-base: 24px;