.download-block {
  padding: 28px 20px;
  text-align: center;
  color: $header-color;
  background-color: $dwnld-block-bg;

  &__download-btn {
    font-size: $fs-base + 4;
    font-weight: 300;
    line-height: $lh-base - 6;
    margin-bottom: 37px;
    padding: 15px 37px;
    cursor: pointer;
    color: $header-color;
    border: 3px solid $header-color;
    border-radius: 27px;
    background-color: $dwnld-block-bg;

    &:hover {
      color: #d22856;
      background-color: $header-color;
    }

    &:active {
      color: #f2ced5;
      background-color: $header-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__logos {
    display: flex;
    margin-bottom: 26px;
    padding: 0 30px;
    justify-content: space-around;
    align-items: center;
  }

  &__logos__item path {
    fill: $header-color;
  }

  &__text {
    margin: 0;
  }
}
