.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;

  &--js {
    display: block;
  }

  &__list {
    margin: 0;
    padding: 0;

    & li {
      list-style: none;
      text-align: center;
      border-top: 1px solid #485360;
      border-bottom: 1px solid $mob-menu-clr;
      background-color: $main-fc;

      &:first-child {
        display: flex;
        padding: 20px 24px;
        cursor: pointer;
        text-align: initial;
        border-top: none;
        justify-content: space-between;
      }

      .mob-header-top__close {
        &:hover path {
          fill: $hover-clr;
        }

        &:active path {
          fill: $active-clr;
        }
      }
    }

    & a {
      font-size: $fs-base + 4;
      font-weight: 300;
      line-height: $lh-base + 8;
      display: block;
      padding: 20px 24px;
      text-decoration: none;
      text-transform: lowercase;
      color: #fff;

      &:hover {
        color: $hover-clr;
      }

      &:active {
        color: $active-clr;
      }
    }
  }
}
