.mob-header {
  color: $header-color;
  background: url("../img/background-1@1x.jpg") no-repeat;

  @media (min-width: 700px) {
    background: url("../img/background-1@2x.jpg") no-repeat;
  }

  &-top {
    display: flex;
    padding: 20px 24px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;

    &__logo {
      font-family: "GothamRoundedBook", "Arial", sans-serif;
      font-size: $fs-base + 18;
      margin: 0;
      text-transform: uppercase;
    }

    &__menu {
      cursor: pointer;
    }

    &__burger-menu:hover path {
      fill: $hover-clr;
    }

    &__burger-menu:active path {
      fill: $active-clr;
    }
  }
}
